.form {
  margin-bottom: 16px;
}

.buttonGroup {
  width: 100%;
  display: grid;
  margin-bottom: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.buttonGroup .button {
  border-radius: 0;
  border: 1px solid var(--color-purple);

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &:not(:last-child) {
    border-right: none;
  }
}
